*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fira Sans;
    cursor: default;
}
/* -------------------------------- */
/* Reusable Components */
/* -------------------------------- */
:root{
    --text-color: rgb(14, 14, 14);
    --text-color-2: rgba(14, 14, 14, 0.5);
    --text-color-3: rgb(255, 255, 255);
    --secondary-color: rgb(0, 106, 80);
    --other-color-1: rgb(198, 228, 214);
}
body{
    background-color: rgb(245, 245, 245);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 1440px;
    padding: 0 136px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    margin-bottom: 65px;
    width: 100%;
}
main .container{
    flex-direction: column;
}
a{
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor: pointer;
}
ul, li{
    text-decoration: none;
    list-style: none;
}
.btn{
    transition: 300ms ease-in-out;

}
.greenBtn{
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    color: rgb(255, 255, 255);
    border: navajowhite;
    border-radius: 8px;
    padding: 12px 22px;
    background: rgb(0, 106, 80);
}
.greenBtn:hover{
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 800;
    color: rgb(0, 106, 80);
    border: 2px solid rgb(0, 106, 80);
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(0, 106, 80),
                0 0 15px rgb(0, 106, 80),
                0 0 35px rgb(0, 106, 80);
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* -------------------------------- */
/* Navbar */
/* -------------------------------- */
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 1440px;
    height: auto;
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container h3{
    font-size: 32px;
    font-weight: 700;
    color: var(--text-color);
}
nav .container button{
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    padding: 13px 26px;
    color: rgb(0, 106, 80);
    font-size: 15px;
    font-weight: 600;
}
nav .container a:hover button{
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 20px;
    padding: 10px 26px;
    letter-spacing: 1px;
}
/* -------------------------------- */
/* Banner Section */
/* -------------------------------- */

.banner{
    background-color: var(--other-color-1);
    width: 1088px;
    height: 476px;
    border-radius: 20px;
    padding: 80px 55px;
}
.banner .row{
    gap: 54px;
}
.banner .row .col{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.banner .row .col-1{
    width: 529px;
    gap: 10px;
}
.banner .row .col-2{
    width: 403px;
}
.banner .row .col h5{
    color: var(--text-color-2);
    font-size: 20px;
    font-weight: 500;
}
.banner .row .col h1{
    font-size: 48px;
    color: var(--text-color);
    line-height: 57px;
    letter-spacing: 0%;
}
.banner .row .col button{
    font-size: 15px;
    font-weight: 600;
    padding: 15px 29px;
    border-radius: 8px;
    background: var(--secondary-color);
    color: var(--text-color-3);
    border: none;
}
.banner .row .col a:hover button{
    background: var(--other-color-1);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 18px;
    box-shadow: 0 0 5px var(--secondary-color),
                0 0 15px var(--secondary-color),
                0 0 35px var(--secondary-color);
}
.banner .row .col img{
   width: 100%;
}

/* -------------------------------- */
/*  Pillars Section */
/* -------------------------------- */
    
.pillars h2{
    font-size: 41px;
    font-weight: 700;
    margin-bottom: 36px;
}
.pillars .row{
    gap: 20px;
}
.pillars .row .col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    width: 257px;
    height: 208px;
    background-color: var(--text-color-3);
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 14px;
    transition: background-color 300ms ease-in-out;
}
.pillars .row .col:hover{
    background-color: var(--other-color-1);
}
.pillars .row .col img{
    width: 43px;
}
.pillars .row .col h4{
    font-weight: 700;
    font-size: 17px;
    color: var(--text-color);
    opacity: .8;
}
.pillars .row .col p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--text-color);
    opacity: .7;
}

/* -------------------------------- */
/*  Vision Section */
/* -------------------------------- */

.vision{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.vision h2{
    font-size: 41px;
    font-weight: 700;
}
.vision p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--text-color);
    opacity: .7;
}
.vision .row{
    gap: 20px;
}
.vision .row .col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 27px;
    width: 345px;
    height: 276px;
    border-radius: 14px;
    transition: background-color 300ms ease-in-out;
}
.vision .row .col-1{
    background-color: rgba(84, 144, 245, 0.2);
}
.vision .row .col-2{
    background-color: rgb(198, 228, 214);
}
.vision .row .col-3{
    background-color: rgb(247, 235, 207);
}
.vision .row .col img{
    width: 43px;
}
.vision .row .col button{
    width: 104px;
    height: 35px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #fff;
}
.vision .row .col-1 button{
    background: rgb(84, 144, 245);
}
.vision .row .col-2 button{
    background: rgb(9, 161, 92);
}
.vision .row .col-3 button{
    background: rgb(255, 194, 57);
}
.vision .row .col-1 button:hover{
    height: 50px;
    background: #fff;
    border: 2px solid rgb(84, 144, 245);
    color: rgb(84, 144, 245);
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 18px;
    box-shadow: 0 0 5px rgb(84, 144, 245),
                0 0 15px rgb(84, 144, 245),
                0 0 35px rgb(84, 144, 245);
}
.vision .row .col-2 button:hover{
    height: 50px;
    background: #fff;
    border: 2px solid rgb(9, 161, 92);
    color: rgb(9, 161, 92);
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 18px;
    box-shadow: 0 0 5px rgb(9, 161, 92),
                0 0 15px rgb(9, 161, 92),
                0 0 35px rgb(9, 161, 92);
}
.vision .row .col-3 button:hover{
    height: 50px;
    background: #fff;
    border: 2px solid rgb(255, 194, 57);
    color: rgb(255, 194, 57);
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 18px;
    box-shadow: 0 0 5px rgb(255, 194, 57),
                0 0 15px rgb(255, 194, 57),
                0 0 35px rgb(255, 194, 57);
}
.vision .box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 218px;
    padding: 41px 21px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 14px;
    background: rgb(255, 255, 255);
    position: relative;
}
.vision .box::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 15px;
    left: 21px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    
}
.vision .box p{
    opacity: .8;
}

/* -------------------------------- */
/*  Opinion Section */
/* -------------------------------- */

.opinion{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.opinion h2{
    font-size: 41px;
    font-weight: 700;
}
.opinion p{
    color: rgb(14, 14, 14);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
}
.opinion .box{
    width: 100%;
    height: 348px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.opinion .box .row-1{
    width: 1034px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
}
.opinion .box .row-2,
.opinion .box .row-3,
.opinion .box .row-4{
    height: 78px;
}
.opinion .box .row{
    display: flex;
    width: 1034px;
}
.opinion .box .row .col{
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
}
.opinion .box .row .col-1{
    width: 865px;
}
.opinion .box .row .col-2{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opinion .box .row .col-2 select{
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    width: 100%;
    height: 100%;
    padding: 9px 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;
}

/* -------------------------------- */
/*  News Section */
/* -------------------------------- */

.news{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.news h2{
    font-size: 41px;
    font-weight: 700;
}
.news p
/* .news li */
{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--text-color);
    opacity: .7;
}
.news .row{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 27px;
    padding: 41px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    height: 342px;
    width: 100%;
}
.news .row>img{
    width: 347px;
    height: 260px;
    border-radius: 20px;
}
.news .row h3{
    color: rgba(14, 14, 14, 0.8);
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
}
.news .row ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.news .row ul li ul{
    display: flex;
    flex-direction: row;
}
.news .row ul li button{
    margin-top: 17px;
}